.aboutme
  .aboutme__title
    h1 ¿Quien XUXA es Oscar Cabellos?
  .aboutme__content
    .aboutme__content__info
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat unde porro est mollitia libero doloremque provident nisi dicta voluptates nemo.
    .aboutme__content__curriculum
      h1 Curriculum
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, fugit?
      a.aboutme__content__curriculum__button(href='assets/CV Oscar Fernando Cabellos Rojas.pdf')
        <i class="fas fa-file-pdf"></i>
        p Descargar CV
    .aboutme__content__github
      h1 GitHub
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, totam.
      a.aboutme__content__github__button(href='https://github.com/FernandoUNMSM' target='_blank')
        <i class="fab fa-github"></i>
        p Repositorio