-var menu_items= ['Home', 'Proyectos', 'Yo', 'Sobre este portafolio'];
.header
  nav.header__menu__container
    i.fas.fa-bars.burguerMenu
    ul.header__menu
      li.header__menu__item
        i.fas.fa-times.closeMenu
      each item in menu_items
        li.header__menu__item #{item}
      li.header__menu__item
        .toggle#toggle
          .circle
  .header__info
    .header__info__image
      figure
        img(src="assets/foto.jpg" alt="foto" srcset="")
    .header__info__text
      .header__info__text__title
        h1 Oscar Cabellos
      .header__info__text__content
        p Lorem ipsum dolor sit, amet consectetur adipisicing.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eos.
  .header__redes
    a.header__redes__item(href='https://twitter.com/FernandoCR81018' target='_blank')
      .header__redes__item__icon
        <i class="fab fa-twitter"></i>
      .header__redes__item__name
        p Fernando81018
    a.header__redes__item(href='https://github.com/FernandoUNMSM' target='_blank')
      .header__redes__item__icon
        <i class="fab fa-github"></i>
      .header__redes__item__name
        p FernandoUNMSM
    a.header__redes__item(href='https://www.linkedin.com/in/oscar-cabellos-12ab3317a/' target='_blank')
      .header__redes__item__icon
        <i class="fab fa-linkedin-in"></i>
      .header__redes__item__name
        p Fernando81018
    a.header__redes__item(href='https://www.instagram.com/fernando81018/' target='_blank')
      .header__redes__item__icon
        <i class="fab fa-instagram"></i>
      .header__redes__item__name
        p Fernando81018