-var menu_items = [['Home', '/#'], ['Proyectos', '/#/proyectos'], ['Conocimientos', '/#/conocimientos'], ['Contacto', '/#']];
//- -var menu_items = [['Home', '/#'], ['Proyectos', '/#/proyectos'], ['Conocimientos', '/#/conocimientos'], ['Sobre este portafolio', '/#/portafolio'], ['Contacto', '/#']];

nav.header__menu__container
  i.fas.fa-bars.burguerMenu
  ul.header__menu
    li.header__menu__item.menuOption
      i.fas.fa-times.closeMenu
    each item in menu_items
      li.header__menu__item.menuOption
        a(href=item[1]) #{item[0]}
    li.header__menu__item
      .toggle#toggle
        .circle