.proyectos
  .proyectos__header
    .header__conveniente
    .header__title
      h1 Proyectos
  .proyectos__content
    .proyectos__content__item
      .proyectos__content__item__info
        .proyectos__content__item__info__title
          h1 Jammy
    .proyectos__content__item
      .proyectos__content__item__info
    .proyectos__content__item
      .proyectos__content__item__info
    .proyectos__content__item
      .proyectos__content__item__info