.aboutme
  .aboutme__title
    h1 Sobre Mi
  .aboutme__content
    .aboutme__content__info
      p Soy un estudiante de <span class='aboutme__content__info__ciclo'>octavo ciclo</span> de la carrera de Ingenieria de Software en la Universidad Nacional Mayor de San Marcos. </br> Soy un apacionado a las tecnologias Web con preferencia en las tecnologias vinculadas a Javascript.
    .aboutme__content__curriculum
      h1 Curriculum
      p Curriculum Vitae con mi información profesional
      a.aboutme__content__curriculum__button(href='assets/CV Oscar Fernando Cabellos Rojas.pdf' download)
        <i class="fas fa-file-pdf"></i>
        p Descargar CV
    .aboutme__content__github
      h1 GitHub
      p Repositorio Personal
      a.aboutme__content__github__button(href='https://github.com/FernandoUNMSM' target='_blank')
        <i class="fab fa-github"></i>
        p Repositorio