.home__header
  .header__conveniente
  .home__header__info
    .home__header__info__image
      figure
        img(src="assets/foto.jpg" alt="foto" srcset="")
    .home__header__info__text
      .home__header__info__text__title
        h1 Oscar Cabellos
      .home__header__info__text__content
        p Lorem ipsum dolor sit, amet consectetur adipisicing.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eos.
  .home__header__redes
    a.home__header__redes__item(href='https://twitter.com/FernandoCR81018' target='_blank')
      .home__header__redes__item__icon
        <i class="fab fa-twitter"></i>
      .home__header__redes__item__name
        p Fernando81018
    a.home__header__redes__item(href='https://github.com/FernandoUNMSM' target='_blank')
      .home__header__redes__item__icon
        <i class="fab fa-github"></i>
      .home__header__redes__item__name
        p FernandoUNMSM
    a.home__header__redes__item(href='https://www.linkedin.com/in/oscar-cabellos-12ab3317a/' target='_blank')
      .home__header__redes__item__icon
        <i class="fab fa-linkedin-in"></i>
      .home__header__redes__item__name
        p Fernando81018
    a.home__header__redes__item(href='https://www.instagram.com/fernando81018/' target='_blank')
      .home__header__redes__item__icon
        <i class="fab fa-instagram"></i>
      .home__header__redes__item__name
        p Fernando81018