.portafolio
  .portafolio__header
    .header__conveniente
    .portafolio__header__title
      h1 Sobre este portafolio
  .portafolio__content
    .portafolio__content__tecnologias
      .portafolio__content__tecnologias__title
        h1 Tecnologias Usada(Pekora)s
      .portafolio__content__tecnologias__info
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/pug.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/sass.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/javascript.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/git.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/github.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/webpack.png", alt="pug-icon")
        .portafolio__content__tecnologias__info__item
          figure
            img(loading='lazy' src="assets/vercel.svg", alt="pug-icon")