doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Portafolio Oscar Cabellos
    script(src="https://kit.fontawesome.com/9ba1130819.js" crossorigin="anonymous")
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap" rel="stylesheet">
  body.theme--dark
    .container
      include html/header
      include html/aboutme
      include html/proyecto
  script(src="js/script.js" defer)
