$grayPrimary: rgb(37, 37, 37);
$graySecondary: rgb(85, 81, 81);
$grayTercary: rgb(124, 121, 121);;
$darkTextPrimary: #fff;
$darkMenuBackground: rgba(68, 68, 68, 0.8);
$darkHeaderConocimientos: rgb(37, 37, 37);
// $darkConocimientos: rgb(68, 68, 68);
$darkConocimientos: #fff;
$darkAboutHeader: rgb(37, 37, 37);

$whitePrimary: rgb(255, 245, 151);
$green: rgb(255, 255, 255);
$whiteTercary: rgb(132, 255, 235);
$lightTextPrimary: #000;
$lightMenuBackground: rgba(250, 248, 244, 0.8);
$lightHeaderConocimientos: rgb(115, 245, 201);
$lightConocimientos: #fff;
$lightAboutHeader: rgb(129, 245, 253);

.theme {
  --primary: #{$whitePrimary};
  --secondary: #{$green};
  --tercary: #{$whiteTercary};
  --colorText: #{$lightTextPrimary};
  --contraryPrimary: #{$grayPrimary};
  --contrarySecondary: #{$graySecondary};
  --contraryColorText: #{$darkTextPrimary};
  --menuBackground: #{$lightMenuBackground};
  --conocimientosHeaderBackground: #{$lightHeaderConocimientos};
  --conocimientosBackground: #{$lightConocimientos};
  --headerPortfolioBackground: #{$lightAboutHeader};
  &--dark {
    --primary: #{$grayPrimary};
    --secondary: #{$graySecondary};
    --tercary: #{$grayTercary};
    --colorText: #{$darkTextPrimary};
    --contraryPrimary: #{$whitePrimary};
    --contrarySecondary: #{$green};
    --contraryColorText: #{$lightTextPrimary};
    --menuBackground: #{$darkMenuBackground};
    --conocimientosHeaderBackground: #{$darkHeaderConocimientos};
    --conocimientosBackground: #{$darkConocimientos};
    --headerPortfolioBackground: #{$darkAboutHeader};
  }
}

// Tamaños
// $mobile:
$medium: 640px;
$large: 1008px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: inherit!important;
  //Este important solo esta debido a la libreria HammerJS
}
:root {
  ::selection {
    background-color: rgb(212, 243, 128);
  }
}
body {
  font-family: 'Jura', sans-serif;
}
.container {
  overflow: hidden;
}
@mixin texto {
  color: var(--colorText);
  font-weight: lighter;
}
@mixin title {
  @include texto;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
@mixin button {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--colorText);
  text-decoration: none;
  background-color: var(--primary);
  width: fit-content;
  padding: 10px 20px;
  margin: 20px auto;
  p {
    margin-left: 10px;
  }
}
.header__conveniente {
  height: 60px;
}