.proyectos {
  height: auto;
  background-color: var(--tercary);
  &__title {
    h1 {
      @include title;
    }
  }
  &__content {
    display: grid;
    padding: 20px 30px;
    // grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 50px;
    align-items: center;
    justify-items: center;
  }
  &__more {
    padding: 20px 0;
    text-align: center;
    &__button {
      @include button;
      margin: 0 auto;
    }
  }
}
.proyectos__content__project {
  width: 100%;
  // max-width: 700px;
  height: 250px;
  // border: 1px solid white;
  background: rgba(255,255,255, 0.1);
  box-shadow: 4px 6px 20px rgba(0,0,0, 0.5);
  // background-color: var(--colorText);
  backdrop-filter: blur(2px);
  color: var(--colorText);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__title {
    font-size: .8em;
    h1 {
      margin: 0;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &__item {
      @include button;
      width: 150px;
      margin: 10px 0;
    }
  }
  &.on:nth-child(1) {
    animation: proyecto2 .4s ease-in-out;
  }
  &.on:nth-child(2) {
    animation: proyecto1 .4s ease-in-out;
  }
  &.on:nth-child(3) {
    animation: proyecto2 .5s ease-in-out;
  }
  &.on:nth-child(4) {
    animation: proyecto1 .5s ease-in-out;
  }
}
@keyframes proyecto1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes proyecto2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;;
    transform: translateX(0);
  }
}
@media (min-width: $medium) {
  .proyectos__content__project__buttons {
    flex-direction: row;
  }
}
@media (min-width: $large) {
  .proyectos {
    &__title {
      h1 {
      }
    }
    &__content {
      padding: 20px 50px;
      grid-template-columns: repeat(2, 1fr);
      &__project {
        &__buttons {
        }
      }
    }
  }
}