.proyectos {
  height: auto;
  background-color: var(--tercary);
  &__title {
    padding-bottom: 10px;
    h1 {
      @include title;
    }
  }
  &__content__home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__content__home__project {
    &__image {
      height: 200px;
      width: 100%;
      background-position: center;
      background-size: cover;
      transition: filter .3s;
      filter: grayscale(1);
    }
    &:nth-child(1) &__image{
      background-image: url('./../assets/jammy.jpg');
    }
    &:nth-child(2) &__image{
      background-image: url('./../assets/frutarom.jpg');
    }
    &:nth-child(3) &__image{
      background-image: url('./../assets/hospital.jpg');
    }
    &:nth-child(4) &__image{
      background-image: url('./../assets/barberia.jpg');
    }
    &:hover &__image {
      filter: grayscale(0);
      cursor: pointer;
    }
  }
  &__more {
    padding: 20px 0;
    text-align: center;
    &__button {
      @include button;
      margin: 0 auto;
    }
  }
}

@keyframes proyecto1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes proyecto2 {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;;
    transform: translateX(0);
  }
}
@media (min-width: $medium) {
  .proyectos__content__home__project__buttons {
    flex-direction: row;
  }
}
@media (min-width: $large) {
  .proyectos {
    &__content__home {
      // padding: 20px 0;
      grid-template-columns: repeat(4, 1fr);
      &__project {
        &__image {
          height: 400px;
        }
      }
    }
  }
}